@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src:
      url("./assets/fonts/Satoshi-Variable.woff2") format("woff2"),
      url("./assets/fonts/Satoshi-Variable.woff") format("woff"),
      url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900; /* Assuming it's a variable font with this weight range */
    font-style: normal;
    font-display: swap;
  }
}

/* src/fonts.css */
/* @font-face {
  font-family: 'PP Formula';
  src: url('/PPFormula-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/PPNeueMontreal-CondensedExtralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/PPFormula-CondensedRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/PPFormula-ExtendedBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/PPFormula-ExtendedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/PPFormula-ExtendedMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/PPNeueMontreal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/PPNeueMontreal-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/PPNeueMontreal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/PPNeueMontreal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/PPNeueMontreal-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/PPNeueMontrealMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/PPNeueMontrealMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/PPNeueMontrealMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/PPNeueMontralMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/PPNeueMontrealMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
